/*=============================================
=                 Foundation                  =
=============================================*/

@import "foundation/all";

/*=============================================
=                   Base                      =
=============================================*/

@import "base/reset";
@import "base/root";


body {
    font-size: $body-font-size;
    font-weight: $body-font-weight;
    font-family: $body-font-family;
}